# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y compilación
node_modules/
dist/
dist-ssr/

# Variables de entorno y credenciales (CRÍTICO)
.env
.env.*
!.env.example

# Archivos de entorno locales
*.local

# Directorios de editores y sistema operativo
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?